#footer {
  background-color: #19110B;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#footer::before {
  content: "";
  width: inherit;
  height: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #DEDEE0;
}

#footer::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background-image: url(../images/logos/sitecore-logo-red.svg);
  opacity: 0.1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#footer .rich-text {
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  opacity: 0.5;
}
