#footer {
  text-align: center;
  background: #767676;
  padding: 40px;
}
#footer>.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer #footer .link-list ul li a {
  padding: 0;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

#footer ul li .field-link a {
  padding-left: 0;
  padding-right: 0;
  color: #333;
  font-weight: normal;
}

footer #footer .link-list ul li {
  margin: 10px 0;
  font-size: 15px;
  list-style: none;
}

#footer ul li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

footer #footer h3 {
  margin-top: 0;
  padding: 10px 0 0;
  background: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #fff;
  text-align: center;
}

#footer .rich-text .component-content {
  color: #fff;
  font-size: 17px;
  text-align: center;
}

#footer ul li .field-link a:before {
  content: none;
}