@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('http://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/AvenirLTStd/AvenirLTStd-Medium.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/AvenirLTStd/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('../fonts/AvenirLTStd/AvenirLTStd-Roman.otf');
}